<head>
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/public/css/forms.css">
<link rel="stylesheet" href="/public/css/product.css">
</head>
<form action="/auth/signup" method="POST">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>
  
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name" required>
  
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>
  <br>
    <label for="new-phone">Phone</label>
    <input id="new-phone" type="integer" name="phone" required>

    <label for="new-address1">Address Line 1</label>
    <input id="new-address1" type="text" name="address1" required>

    <label for="new-address2">Address Line 2</label>
    <input id="new-address2" type="text" name="address1" value="Apartment/Suite/Etc." >

    <label for="new-city">City</label>
    <input id="new-city" type="text" name="city" required>

    <label for="new-state">State</label>
    <input id="new-state" type="text" name="state" required>

    <label for="new-postcode">postCode</label>
    <input id="new-postcode" type="integer" name="postCode" required>

    <label for="new-birthday">Your Birthdate</label>
    <input id="new-birthday" type="date" name="birthday" value="Enter your birthday to receive a free gift during your birthday month!">
    
    <input type="submit" value="Sign up">
</form>
  