<h2>Book Bean</h2>
<div class="main">
    Welcome to Book Bean! If you love books and a good cup of coffee, this is the coffee club for you.
    Book Bean sources exceptional coffees from independent roasters and pairs them with books based on genre.
</div> 